<!DOCTYPE html>
<html> 
<head>
<style>
    body{ 
      font-size: 12pt;
      font-family: arial;
      position:relative;
      top: 20px;
      overflow-y:scroll; 
      min-width: 1000px; 
    }

    h1{text-align: center;}
    h3{text-align: center;}
    h4{text-align: center;}
    p{text-align: center;}
        div{text-align: center;}

  </style>

  <title>Shallow Amazon</title>
  <h1>
     Shallow Amazon.w4111:<br>
  </h1>
  
 
  <hr> 
</head>

<body>

    <div>
      

      <form action="/shallowAmazon" method="POST">
      <input type="text" id="pname"> 
        <input type="submit" value="SEARCH">
        <br>
        Sort by:
        <input type="radio" name="sort" value="psort"/> Price
        <input type="radio" name="sort" value="asort"/>Amount
        <input type="radio" name="sort" value="dsort" checked/>Default  
      </form>

    </div>
    <hr>

    <p>
      Here should have a text aera to show result
    </p>
  <h3>All items in List</h3>

  <div>
    {% for n in searchOutput %}
    <div>{{n}}</div>
    {% endfor %}
  </div>


</body>
</html>